
  body {
    width : 100%;
  }

    div {
      
      border: 0.5px solid black;
      float: left;
      text-align: center;
  };


  @media only screen and (min-width:768px) { 
    body {
      width : 960px;
    }
  
      div {
        
        border: 0.5px solid black;
        float: left;
        text-align: center;
    }
  

};

