body {
  width: 450px;
  margin: auto;
}

div {
  border: 2px solid black;
  height : 200px;
  width: 480px;
}

@media only screen and (min-width:451px) { 
  body {
    width : 100%;
  }

    div {
      
      border: 2px solid black;
      float: left;
      height : 200px;
      width: 480px;
    }
  }

};